.heroSection {
  background-image: url("../../assets/desktop-hero.webp");
  min-height: 754px;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 768px) {
    background-position: bottom ;
  }
  .navList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 0;
    gap: 50px;
    list-style-type: none;
    .navListItem {
        a{
            color: #000000;
            text-decoration: none;
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
        }

    }
    .navListItemButton {
      border-radius: 5px;
      padding: 10px 20px;
      background-color: #f84646;
      a {
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
      }
    }
  }
  .heroTextContainer {
    width: 665px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 768px) {
      width: 100%;
      justify-content: center;
    }

    .heroHeading {
      font-size: 64px;
      line-height: 82px;
      color: #000000;
      font-weight: 800;
      margin: 0;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
    .heroSubHeading {
      font-size: 20px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.2px;
      color: #000000;
      margin: 0;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }

    .inputContainer {
      background-color: #fff;
      width: 500px;
      padding: 4px;
      display: flex;
      border-radius: 8px;
      @media screen and (max-width: 768px) {
        justify-content: center;
        margin: auto;
      }

      .input {
        height: 60px;
        border: 0;
        outline: 0;
        flex-grow: 1;
        padding: 0 24px;
      }
      .inputButton {
        background-color: #f84646;
        color: #ffffff;
        padding: 15px 30px;
        border: 0;
        outline: 0;
        cursor: pointer;
        border-radius: 8px;
      }
    }
  }
}
