.brandSection{
    background-color: #F4F5F7;
    padding: 50px 0;
    .heading{
        font-size: 48px;
        font-weight: 800;
        line-height: 64px;
        text-align: center;
        @media screen and (max-width: 576px) {
            font-size: 32px;
        }
    }
    .subHeading{
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
        text-align: center;
    }

    .brandImageContainer{
        display: flex;
        justify-content: center;
        margin-top: 50px ;
        // display: grid;
        // grid-template-columns: repeat(5,1fr);
        gap: 24px;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            // flex-wrap: wrap;
        }
        .brandRow{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 24px;
           
        }
        .brandCard{
            height: 100px;
            width: 170px;
            background-color: #fff;
            border-radius: 16px;
            padding: 12px;
            box-shadow: 0px 30px 40px 0px #D4D9E833;

            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}