.infoSection{
    padding: 100px 0 !important;

    .cardContainer{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .imageAndTextCard{
        display: flex;
        gap: 150px;

        @media screen and (max-width: 1024px) {
            gap: 30px;
        }
        .image{
            min-width: 500px;
            min-height: 480px;
            max-width: 500px;
            max-height: 480px;
            border-radius: 12px;
            @media screen and (max-width: 1024px) {
                min-width: 425px;
                min-height: 400px;
                max-width: 425px;
                max-height: 400px;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 12px;
            }
        }

        .text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .heading{
                font-size: 64px;
                font-weight: 700;
                color:#2E2E2E ;
                line-height: 76px;
                margin-bottom: 20px;
                @media screen and (max-width: 1024px) {
                  font-size: 54px;
                  margin-bottom: 10px;
                  line-height: 52px;
                }
            }
            .description{
                color: #808080;
                font-size: 16px;
                font-weight: 400;
                line-height: 32px;
                @media screen and (max-width: 1024px) {
                  font-size: 14px;
                  line-height: 24px;
                }
            }

            .button{
                background-color: #F84646;
                padding: 12px;
                border-radius: 8px;
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;
                text-align: center;
                color: #fff;
                width: 160px;
               
            }
        }
        
    }

    .flexDirection{
        flex-direction: row-reverse
    };
}